{% load wagtailcore_tags %}
{% load wagtailimages_tags %}


<div class="image-gallery">

    {% image self.mainImage original as og_Image %}

    <img src="{{ og_Image.url }}" 
        {% comment %} width="{{ tmp_dImage.width }}" {% endcomment %}
        {% comment %} height="{{ tmp_dImage.height }}"  {% endcomment %}
        alt="{{ tmp_dImage.alt }}" 
        class="main-gallery-image" />

    <div class="thumbnails_div">

        {% for th_Image in self.thumbNails %}

            {% image th_Image original as small_Image %}

            <img src="{{ small_Image.url }}" 
                width="{{ small_Image.width }}"
                height="{{ small_Image.height }}" 
                alt="{{ small_Image.alt }}" 
                class="thumbnail-gallery-image 
                
                    {% if forloop.counter == 1 %}
                        selected-thumbnail
                    {% endif %}
                
                " 
                onCLick="toggleSelect(this)" />
                
        {% endfor %}
            
    </div>

</div>