@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

:root {
  --HPaddings: 8.5vw;
  --VPaddings: 1.04vw;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: url(../images/background_left_long.png) repeat-y,
    url(../images/background_right_long.png) repeat-y;
  background-position: top 500px left 0px, top 1400px right 0px;
}

.allwrapper {
  /* настройка, чтобы скрывать всплявающее меню в мобильной версии */
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  height: 100vh;
}

.standard_button:hover {
  background: #03a9f4;
  color: #ffffff;
}

.standard_button:focus {
  background: #0398dc;
  color: #ffffff;
}

@media screen and (max-width: 550px) {
  body {
    background: url(../images/background_mobile_left.png) repeat-y,
      url(../images/background_mobile_right.png) repeat-y;
    background-position: top 700px left 0px, top 0px right 0px;
  }
}
