@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

/* //some comment */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.allwrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  padding: 2.8vw 11.45vw;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #ffffff;
  box-shadow: 0px 8px 40px -17px #0000001a;

  font-family: "Poppins", sans-serif;
}

footer {
  color: #263238a6;

  font-family: "Inter", sans-serif;
  margin-top: auto;

  padding: 2.8vw 11.45vw;
  background-color: #f2f4f6;

  display: flex;
  flex-direction: column;
}

.upper_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.5vw;
}

.sections_container {
  display: flex;
  justify-content: left;
  flex-grow: 1;
  padding: 0 8vw;
}

.sections_container > a {
  padding: 0 2vw;
}

.lower_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.5vw;
}

footer a {
  color: inherit;
  text-decoration: none;
}
