@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap");

:root {
  --HPaddings: 8.5vw;
  --VPaddings: 1.04vw;

  --backgroundColor: #f2f4f6;
  --blueHoverColor: #03a9f4;
  --blueGoToHoverColor: #59cafd;
  --blueFocusColor: #0398dc;
  --whiteColor: #ffffff;
  --FooterDarkTextColor: #263238a6;
  --HeaderDarkTextColor: #263238;
  --StandardButonBorder: #eceaf5;
  --ShadowColor: #0000001a;
  --seconsShadowColor: #152f3c0a;
  --textNeutralColor: #75818c;
  --tagColor: #edf2f8;
  --Neutral300Color: #abb5c5;

  --Yellow500Color: #ffcd29;
  --Blue300Color: #b1e4fc;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: url(../images/background_left_long.png) repeat-y,
    url(../images/background_right_long.png) repeat-y, var(--backgroundColor);
  background-position: top 500px left 0px, top 1400px right 0px;
}

.allwrapper {
  /* настройка, чтобы скрывать всплявающее меню в мобильной версии */
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  height: 100vh;
}

.standard_button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  color: var(--blueHoverColor);
  text-decoration: none;

  background: inherit;

  padding: 12px;

  border-radius: 4px;
  border: 1px solid var(--blueHoverColor);

  max-width: max-content;
}

.standard_button:hover {
  background: var(--blueHoverColor);
  color: var(--whiteColor);
}

.standard_button:focus {
  background: var(--blueFocusColor);
  color: var(--whiteColor);
}

@media screen and (max-width: 1325px) {
  :root {
    --HPaddings: 3.9vw;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --HPaddings: 3.9vw;
  }
}

@media screen and (max-width: 550px) {
  body {
    background: url(../images/background_mobile_left.png) repeat-y,
      url(../images/background_mobile_right.png) repeat-y;
    background-position: top 700px left 0px, top 0px right 0px;
  }

  :root {
    --HPaddings: 5.5vw;
  }
}
