.card_div {
  background: var(--whiteColor);

  max-width: 350px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;

  padding: 12px 12px 22px 12px;

  border-radius: 12px;
  box-shadow: 0px 9px 40px 0px var(--seconsShadowColor);

  font-size: 32px;
  line-height: 40px;

  font-family: "Poppins", sans-serif;
  font-weight: 600;

  text-align: left;
}

.card_name,
.card_image,
.card_info,
.card_tags {
  width: 100%;
}

.card_image {
  border-radius: 4px;
  aspect-ratio: 326/208;
}

.card_info {
  color: var(--textNeutralColor);

  font-family: "Inter", sans-serif;
  font-size: 14px;

  line-height: 20px;

  overflow: hidden;
  text-overflow: ellipsis;
  /* line-height: 21px; */
  max-height: 48px;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card_name {
  font-size: 20px;
  line-height: 28px;
}

.card_tag_div {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;

  width: 100%;
  /* width: max-content; */
}

.card_tags_and_mask_div {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

  gap: 16px;

  width: 100%;
}

.openForAdsNewLink {
  /* line-height: 24px; */

  position: relative;
  /* line-height: 24px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 24px;
}

.svg_openForAdsMask {
  width: 24px;
  height: 24px;
  color: var(--blueHoverColor);
}

.tag {
  background: var(--tagColor);
  color: var(--HeaderDarkTextColor);

  border-radius: 4px;
  padding: 4px 8px 4px 8px;

  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 20px;

  text-decoration: none;
}

.tag:hover {
  color: var(--blueHoverColor);
  outline: 1px solid var(--blueHoverColor, #03a9f4);
}

.tooltip_div {
  --arrow-height: 8px;
  --arrow-width: 28px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  /* background-color: #000; */
  /* color: var(--whiteColor); */
  padding: 16px;
  border-radius: 4px;
  background: var(--whiteColor, #fff);
  /* background: var(--blueFocusColor); */

  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.05);
}

.tooltip_div::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 100%;

  transform: translateX(-50%);

  border-top: var(--arrow-height) solid;
  border-left: var(--arrow-width) solid #0000;
  border-right: var(--arrow-width) solid #0000;

  /* border: var(--arrow-height) solid; */
  border-color: var(--whiteColor, #fff) #0000 #0000 #0000;
  /* border-color: var(--blueFocusColor) #0000 #0000 #0000; */
}

.tag_with_tooltip_div {
  position: relative;
  /* line-height: 24px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 28px;
}

.tag_with_tooltip_div:hover .tooltip_div {
  /* top: -230%; */
  visibility: visible;
  opacity: 1;

  transform: translateX(-50%) translateY(calc(-100% - var(--arrow-height)));
}

.openForAdsNewLink:hover .tooltip_div {
  /* top: -230%; */
  color: var(--white-white, #fff);
  /* font-feature-settings: "clig" off, "liga" off; */

  /* Caption 1 */
  /* font-family: Noto Sans; */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */

  visibility: visible;
  opacity: 1;

  white-space: nowrap;

  display: flex;
  padding: 16px 24px;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  align-self: stretch;

  border-radius: 4px;
  background: var(--neutral-500, #263238);
  border-color: var(--neutral-500, #263238) #0000 #0000 #0000;

  transform: translateX(-50%) translateY(calc(-100% - var(--arrow-height)));
}

.openForAdsNewLink:hover .tooltip_div::before {
  border-color: var(--neutral-500, #263238) #0000 #0000 #0000;
  border-top: var(--arrow-height) solid #263238;
  border-left: var(--arrow-width) solid #0000;
  border-right: var(--arrow-width) solid #0000;
}

.advertise {
  color: var(--blue-500, #03a9f4);
  /* font-feature-settings: "clig" off, "liga" off; */
  /* font-family: Noto Sans; */
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
}

@media screen and (max-width: 550px) {
  .card_div {
    max-width: 320px;
  }
}
