.Cards_List_Div {

  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  flex-wrap: wrap;

  width: 100%;

  row-gap: 30px;
  column-gap: 20px;
}

@media screen and (max-width: 1200px) {
  .Cards_List_Div {
    column-gap: 8px;
    row-gap: 10px;
  }
}

@media screen and (max-width: 800px) {
  .Cards_List_Div {
    grid-template-columns: 1fr 1fr;
    column-gap: 8px;
    row-gap: 10px;
  }
}

@media screen and (max-width: 500px) {
  .Cards_List_Div {
    grid-template-columns: 1fr;
 
  }
}
