.page-contents-wrapper {
  padding: 0 var(--HPaddings);

  display: flex;
  flex-direction: column;
  gap: 80px;
}

.contents-and-advertisement {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 30px;
}

.page_content {
  border-radius: 12px;
  border: 1px solid var(--neutral-100, #edf2f8);
  background: var(--white-white, #fff);

  display: flex;
  flex-direction: column;

  gap: 28px;

  padding: 20px;

  font-family: "Inter", sans-serif;

  color: var(--neutral-500, #263238);

  /* Body/M */

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.page_content ol {
  list-style-position: inside;
}

.title-with-tags-div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.product-title-div {
  color: var(--neutral-500, #263238);

  /* Heading/XL */
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 125% */
}

.product-tags-div {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.tag {
  background: var(--tagColor);
  color: var(--HeaderDarkTextColor);

  border-radius: 4px;
  padding: 4px 8px 4px 8px;

  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 20px;

  text-decoration: none;

  cursor: pointer;
}

.tag:hover {
  color: var(--blueHoverColor);
  outline: 1px solid var(--blueHoverColor, #03a9f4);
}

.image-gallery {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  justify-content: center;

  gap: 8px;

  width: 100%;
}

.big-iamge-div {
  width: 100%;
}

.main-gallery-image {
  width: 100%;
  border-radius: 4px;
}

.main-gallery-image img {
  width: 100%;
  height: auto;
  /* border-radius: 4px; */
}

.main-gallery-image div {
  width: 100%;
  height: auto;
  /* border-radius: 4px; */
}

.main-gallery-image div iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}



.thumbnail_container_div {
  position: relative;
  height: 100px;
  width: 100%;
  overflow-x: auto;
}

.thumbnails_div {
  position: absolute;


  top: 0;
  left: 0;

  height: 100%;

  display: flex;
  gap: 8px;
  flex-direction: row;
  flex-wrap: nowrap;

}

.thumbnail-gallery-image {
  border-radius: 4px;
  /* height: 60px; */
  height: 100%;
  cursor: pointer;
}

.thumbnail-gallery-image > img {
  height: 100%;
  aspect-ratio: 16/9;
  width: auto;
}

.thumbnail-gallery-image > div {
  height: 100%;
  aspect-ratio: 16/9;
}

.thumbnail-gallery-image > div > iframe {
  height: 100%;
  aspect-ratio: 16/9;
  width: auto;
}

.thumbnail-gallery-image.video > div {
  pointer-events: none;
}

.thumbnail-gallery-image.selected-thumbnail {
  border: 3px solid var(--blueHoverColor, #03a9f4);
}

.image-with-caption {
  display: flex;
  flex-direction: column;
  gap: 8px;

  align-items: center;
}

.image-with-caption img {
  width: 100%;
  height: auto;
}

.product-buttons-div {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.svg_chevron, .svg_arrow {
  height: 24px;
  width: 24px;
}

.rotate-90 {
  transform: rotate(-90deg);
}

.advertise-here-section {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  gap: 0;

  max-width: 350px;

  border-radius: 12px;
  border: 1px solid var(--neutral-100, #edf2f8);
  background: #fff;

  margin-bottom: auto;
}

.main-cta {
  display: flex;
  flex-direction: column;
  gap: 8px;

  justify-content: center;
  align-items: flex-start;

  padding: 16px;
}

.main-cta h3 {
  color: var(--neutral-500, #263238);

  /* Links/XL */
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 140% */

  white-space: nowrap;
}

.main-cta span {
  color: var(--neutral-400, #75818c);

  /* Body/S */
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.items-cta-block {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.cta-item {
  padding: 24px 16px;

  border-top: 1px solid var(--neutral-100, #edf2f8);

  color: var(--neutral-500, #263238);

  /* Links/L */
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */

  text-decoration: none;
}

.cta-item_div {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 12px;
}

.cta_link_text {
  white-space: nowrap;

}

.cta-item_div svg {
  margin-left: auto;
}





@media screen and (max-width: 800px) {
  .contents-and-advertisement {
    
    flex-direction: column;
    align-items: center;
    
  }
}