.trending_Crypto_section {
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  gap: 28px;

  padding: 4.1vw var(--HPaddings);
  font-family: "Poppins", sans-serif;
}

.Crypto_Title {
  color: var(--HeaderDarkTextColor);
  font-size: 48px;
  line-height: 60px;
}

.Crypto_Cards_Div {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  column-gap: 30px;
  row-gap: 20px; */

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  width: 100%;

  row-gap: 30px;
  column-gap: 20px;
}

.select_sorting {
  width: max-content;
}

@media screen and (max-width: 1200px) {
  .Crypto_Cards_Div {
    /* grid-template-columns: 1fr 1fr; */

    column-gap: 8px;
    row-gap: 10px;
  }
}

@media screen and (max-width: 768px) {
  .Crypto_Title {
    font-size: 40px;
    line-height: 50px;
  }

  .Crypto_Cards_Div {
    /* grid-template-columns: 1fr 1fr; */

    column-gap: 8px;
    row-gap: 10px;
  }
}

@media screen and (max-width: 550px) {
  .Crypto_Title {
    font-size: 32px;
    line-height: 40px;
  }
}
