.trending_Crypto_section {
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  gap: 28px;

  padding: 4.1vw var(--HPaddings);
  font-family: "Poppins", sans-serif;
}

.Crypto_Title,
.crypto_title_select {
  color: var(--HeaderDarkTextColor);
  font-size: 48px;
  line-height: 60px;
}

.Crypto_Cards_Div {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  column-gap: 30px;
  row-gap: 20px; */

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  width: 100%;

  row-gap: 30px;
  column-gap: 20px;
}

.select_sorting {
  width: max-content;
  height: max-content;

  color: var(--Neutral500Color, #263238);

  overflow: hidden;
  text-overflow: ellipsis;

  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  border-radius: 4px;
  border: 1px solid var(--Neutral200Color, #d7e0eb);

  padding: 6px 46px 6px 12px;

  appearance: none;
  background-color: rgba(255, 255, 255, 0);
  background: url(../icons/chevron.png) 90% / 15% no-repeat
    rgba(255, 255, 255, 0);
}

.title_with_selection {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 4.1vw var(--HPaddings);
  font-family: "Poppins", sans-serif;
}

.pagination_container {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 10px;

  padding: 0 var(--HPaddings);
  font-family: "Poppins", sans-serif;
}

.page-item {
  list-style-type: none;
}

.page-item a {
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .Crypto_Cards_Div {
    /* grid-template-columns: 1fr 1fr; */

    column-gap: 8px;
    row-gap: 10px;
  }
}

@media screen and (max-width: 768px) {
  .Crypto_Title,
  .crypto_title_select {
    font-size: 40px;
    line-height: 50px;
  }

  .Crypto_Cards_Div {
    /* grid-template-columns: 1fr 1fr; */

    column-gap: 8px;
    row-gap: 10px;
  }
}

@media screen and (max-width: 550px) {
  .Crypto_Title,
  .crypto_title_select {
    font-size: 32px;
    line-height: 40px;
  }
}
