
.header-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  max-width: 1164px;
}

.svg_GoToAdsMask {
  height: 24px;
  width: 24px;
}

.goto_link {
  display: inline-flex;
  gap: 12px;
  align-items: center;
  justify-content: center;

  color: var(--whiteColor);
  text-decoration: none;
  background: var(--blueHoverColor);

  border-radius: 4px;
  padding: 12px 24px 12px 24px;
  border: 0px solid var(--blueHoverColor);
}

.goto_link:hover {
  background: var(--blueGoToHoverColor);
  color: var(--whiteColor);
}

.goto_link:focus {
  background: var(--blueFocusColor);
  color: var(--whiteColor);
}

.addme_link {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  gap: 12px;
  color: var(--blueHoverColor);
  text-decoration: none;
  border: 1px solid var(--blueHoverColor);
  background: inherit;

  border-radius: 4px;
  padding: 11px 24px 11px 24px;
  border: 1px solid var(--blueHoverColor);
}

.addme_link:hover {
  background: var(--blueHoverColor);
  color: var(--whiteColor);
}

.addme_link:focus {
  background: var(--blueFocusColor);
  color: var(--whiteColor);
}

header {
  padding: var(--VPaddings) var(--HPaddings);
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--whiteColor);
  box-shadow: 0px 8px 40px -17px var(--ShadowColor);

  font-family: "Poppins", sans-serif;
  font-size: 16px;

  top: 0px;
  position: sticky;
  z-index: 2;
}

.header_link {
  color: var(--HeaderDarkTextColor);
  text-decoration: none;
}

.header_sections_container {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-grow: 1;
  padding: 0 2.08vw;
}

.header_sections_container > a {
  padding: 0 2vw;
}

.header_links_container {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 16px;
}

.header_mobile_menu_container {
  display: none;
  position: relative;
}

.svg_hamburger,
.svg_cross {
  height: 24px;
  width: 24px;
}

.dropdown {
  background: var(--whiteColor);

  box-shadow: 0px 5px 5px 5px var(--ShadowColor);

  font-family: "Poppins", sans-serif;
  font-size: 16px;

  z-index: 0;

  position: absolute;
  top: calc(50px + var(--VPaddings));
  right: 0;

  transform: translateX(120%);
  transition-property: transform;

  transition-duration: 0.3s;
}


.dropdown-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  
  padding: var(--VPaddings) var(--HPaddings);
}

.hidden {
  display: none;
}

.active {
  display: block;
  transform: translateX(var(--HPaddings));
}

@media screen and (max-width: 1100px) {

  .header{
    justify-content: space-between;
  }

  
  .header_links_container,
  .header_sections_container {
    display: none;
  }

  .header_mobile_menu_container {
    display: flex;
    flex-direction: column;
  }

  .goto_link,
  .addme_link {
    width: max-content;
  }
}

@media screen and (max-width: 550px) {
  .dropdown {
    width: 100vw;
    /* right: calc(-1 * var(--HPaddings)); */
    right: calc(0 * var(--HPaddings));
  }
  .goto_link,
  .addme_link {
    width: 100%;
  }
}
