.hero_section {
  padding: 4.1vw var(--HPaddings);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 48px;

  font-family: "Poppins", sans-serif;
  text-align: center;
}

.hero_section a {
  text-decoration: none;
  color: #263238;
  font-size: 20px;
}

.blackText {
  color: #263238;
  font-size: 48px;
  line-height: 60px;
}

.blueText {
  color: #03a9f4;
  font-size: 48px;
  line-height: 60px;
}

.subText {
  color: #263238;
  font-size: 16px;
  font-family: "Inter", sans-serif;

  width: 22vw;
  margin: 0 auto;
}

.hero_link {
  width: 35vw;
  min-width: calc(min(319px, 100%));
  max-width: 388px;
}

.hero_link_div:hover {
  outline: 1px solid #03a9f4;
}

.hero_link_div {
  background: #ffffff;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  padding: 20px 16px 20px 16px;

  border-radius: 12px;
  box-shadow: 0px 9px 40px 0px #152f3c0a;
}

.hero_link_text {
  flex-grow: 1;
  text-align: left;
}

.svg_arrow {
  height: 24px;
  width: 24px;
}

.hero_section_links_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  width: 100%;

  row-gap: 16px;
  column-gap: 32px;
}

@media screen and (max-width: 1790px) {
  .subText {
    width: 60%;
  }
}

@media screen and (max-width: 1024px) {
  .subText {
    width: 80%;
  }
}

@media screen and (max-width: 550px) {
  .subText {
    width: 100%;
  }

  .blackText,
  .blueText {
    font-size: 32px;
    line-height: 40px;
  }
}
