.tag_selection_section {
  display: flex;
  flex-wrap: wrap;

  justify-content: flex-start;
  align-items: center;

  gap: 16px;

  padding: 0 var(--HPaddings);
  max-width: calc(var(--maxWidth) + 2 * var(--HPaddings) );
}

.tag_selection_section .standard_button {
  padding: 6px 20px;

  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */

  cursor: pointer;
}

.highlited {
  background: var(--blueHoverColor);
  color: var(--whiteColor);
}
