.YourAdHere_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: min(5.5vw, 80px) var(--HPaddings);  


  font-family: "Poppins", sans-serif;
  text-align: center;

  max-width: calc(var(--maxWidth) + 2 * var(--HPaddings));

  align-self: center;
  width: 100%;

}

.yourAdHere_container {
  border-radius: 4px;
  background: var(--blueHoverColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 11px 0;
  width: 100%;
}

.YourAdHereTitle {
  color: var(--Yellow500Color);
  text-align: center;
  font-family: "Arimo", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.YourAdHereText {
  color: var(--whiteColor, #fff);
  text-align: center;
  font-family: "Arimo", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.YourAdHereLink {
  color: var(--Blue300Color, #b1e4fc);
  text-align: center;
  font-family: "Arimo", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 200% */
  text-decoration-line: underline;
}

/* .hero_link_div:hover {
  outline: 1px solid var(--blueHoverColor);
} */

@media screen and (max-width: 1790px) {
}

@media screen and (max-width: 768px) {
  .YourAdHere_section {
    padding: 11px var(--HPaddings);  
  }
}

@media screen and (max-width: 500px) {
  .YourAdHere_section {
    padding: 16px var(--HPaddings) 12px;
  }
}
