{% extends "base.html" %}

{% load static wagtailcore_tags %}

{% block content %}

{% csrf_token %} 

<script defer src="{% static 'js/ajax.js' %}"></script>

{% include "../tags/TagsList.html" with tagsList=tags %}

<select class="select_sorting" onchange="postCrypto(this)">
    <option value="">--Please choose an option--</option>
    <option value='-first_published_at'>by default</option>
    <option value="title">by title</option>
    <option value="date">by date</option>
</select>


    {% include "../tags/TrendingCrypto.html" with Title="Crypto Page" itemslist=blogpages itemsmax="10" %}

{% endblock content %}