{% extends "base.html" %}

{% load static wagtailcore_tags base_tags %}


{% block content %}

    {% csrf_token %} 

    <script defer src="{% static 'js/ajax.js' %}"></script>

    <section class="title_with_selection">    

        <div class="crypto_title_select">

            Crypto Services

        </div>
        
        <select class="select_sorting" onchange="postCrypto(this)">
            <option value='-first_published_at'>sort by default</option>
            <option value="-popularity">sort by popularity</option>
            <option value="title">sort by title</option>
            <option value="-date">sort by date</option>
        </select>

    </section>
    
    {% TagsSection_tag %}

    {% CryptoCardsSection_tag maxCards="10" showTitle=False %}

    {% your_add_here_tag %}

{% endblock content %}