{% extends "base.html" %}

{% load static wagtailcore_tags base_tags%}
{% load wagtailimages_tags %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/product_page.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/card.css' %}">
{% endblock %}


{% block body_class %}template-crypto-product-page{% endblock %}

{% block content %}

<script defer src="{% static 'js/gallery_select.js' %}"></script>

{% csrf_token %} 

<script defer src="{% static 'js/ajax.js' %}"></script>



<div class="page-contents-wrapper">


    {% include "testblog/tags/pagePath.html" with productTitle=page.title homePageUrl=page.get_parent.url  siteSection=page.path_string %}


    <div class="contents-and-advertisement">

        <section class="page_content">

          {% include "testblog/tags/titleAndTags.html" with productTitle=page.title siteSection=page.path_string tags=page.tags.all %}      

          
          {% for block in page.content %}
          
            {% if block.block_type == 'ImageAndVideo' %}

              {% include "testblog/tags/imageGallery.html" with firstImage=block.value|slice:":1"|first slides=block.value %}

            {% else %}
          
              {% include_block block %}
          
            {% endif %}
          
          {% endfor %}

          
          {% include "testblog/tags/productButtons.html" with link=page.product_link  %}          

        </section>

        
        {% AdvertiseHere_tag %}


    </div>

  

    <section class="related-products">

        <div class="related-title-div">
            Related:
        </div>

        <div class="related-cards-div">

            {% include "testblog/tags/Card.html" with link=page.path_string cardUrl=page.related_page_1.specific.url cardName=page.related_page_1.specific.title cardImage=page.related_page_1.specific.preview_image.url cardInfo=page.related_page_1.specific.intro cardTags=page.related_page_1.specific.tags.all openForAds=page.related_page_1.specific.open_for_ads %}
            {% include "testblog/tags/Card.html" with link=page.path_string cardUrl=page.related_page_2.specific.url cardName=page.related_page_2.specific.title cardImage=page.related_page_2.specific.preview_image.url cardInfo=page.related_page_1.specific.intro cardTags=page.related_page_2.specific.tags.all openForAds=page.related_page_2.specific.open_for_ads %}
            {% include "testblog/tags/Card.html" with link=page.path_string cardUrl=page.related_page_3.specific.url cardName=page.related_page_3.specific.title cardImage=page.related_page_3.specific.preview_image.url cardInfo=page.related_page_1.specific.intro cardTags=page.related_page_3.specific.tags.all openForAds=page.related_page_3.specific.open_for_ads %}

        </div>

    </section>



</div>

{% your_add_here_tag %}


{% endblock content %}