{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <h1>{{ a_special_test }}</h1>


    <br />
    Tags:

    {% for tag in tags %}
    
        <a href='{% pageurl page %}?tag={{tag}}'> <span> <b>{{ tag }}</b> </span> </a>
    
    {% endfor %}

    <br />
    Site settings:

    {% if settings.site_settings.SocialMediaSettings.facebook %}
        <a href='{{ settings.site_settings.SocialMediaSettings.facebook }}'>
            facebook
            <i class="fa-brands fa-facebook"></i>
        </a>
    {% endif %}

    {% if settings.site_settings.SocialMediaSettings.twitter %}
        <a href='{{ settings.site_settings.SocialMediaSettings.twitter }}'>
            twitter
            <i class="fa-brands fa-twitter"></i>
        </a>
    {% endif %}

    {% if settings.site_settings.SocialMediaSettings.youtube %}
        <a href='{{ settings.site_settings.SocialMediaSettings.youtube }}'>
            youtube
            <i class="fa-brands fa-youtube"></i>
        </a>
    {% endif %}


{% endblock %}