{% load static wagtailcore_tags base_tags %}


<div class="card_div" style="cursor: pointer;" onclick="window.location='{% pageurl post %}';">

    <img class="card_image" src="{{cardImage}}" /> 
    
    <p class="card_name"> {{ cardName}} </p>
    
    <p class="card_info"> {{cardInfo}} </p>

    <div class="card_tag_div"> 
        
        {% for tag in cardTags|slice:"4" %}
            
            <a class="tag" href='{% pageurl page %}?tag={{tag.slug}}'> {{ tag }} </a>
    
        {% endfor %}

        {% if cardTags.count > 4 %}
            <a class="tag" href='#'> + {{ cardTags.count|add:"-4" }}</a>         
        {% endif %}
    
    </div>

</div>