{% load static wagtailcore_tags base_tags %}

<!-- <div class="card_div" style="cursor: pointer;" onclick="window.location='{% pageurl post %}';"></div> -->
<div class="card_div">

    <img class="card_image" src="{{cardImage}}" /> 
    
    <p class="card_name"> {{ cardName}} </p>
    
    <p class="card_info"> {{cardInfo}} </p>

    <div class="card_tags_and_mask_div"> 

        <div class="card_tag_div"> 
            
            {% for tag in cardTags|slice:"4" %}

            
                
            
                {% comment %} <a class="tag" href='{{ self.get_full_url }}?tag={{tag.slug}}'> {{ tag }} </a> {% endcomment %}
                {% comment %} <a class="tag" href='{% pageurl page %}?tag={{tag.slug}}'> {{ tag }} </a> {% endcomment %}
                {% comment %}<a class="tag" href='{% pageurl page %}{{ thispagesuffix }}?tag={{tag.slug}}' onclick="postAddTag("testTag")"> {{ tag }} </a>{% endcomment %}
                 <!-- <a class="tag" href='#' onclick="postAddTag( '{{tag}}' );"> {{ tag }} </a> -->
                 <!-- <button class="tag" onclick="postAddTag( '{{tag}}' ); window.location='{% pageurl post %}';" > {{ tag }} </button> -->
                 <button class="tag" onclick="postAddTag( '{{tag}}' ); " > {{ tag }} </button>
                 
        
            {% endfor %}

            {% if cardTags.count > 4 %}
                <div class="tag_with_tooltip_div">
                    <a class="tag" href='#'> + {{ cardTags.count|add:"-4" }}</a>
                    <div class="tooltip_div">

                        {% for extraTag in cardTags|slice:"4:" %}
                
                            <a class="tag" href='{% pageurl page %}{{ thispagesuffix }}?tag={{extraTag.slug}}'> {{ extraTag }} </a>
                
                        {% endfor %}

                    </div>         
                </div>
            {% endif %}

        </div>

        {% if openForAds %}
            <a class="openForAdsNewLink" href='https://a-ads.com'>
                <svg class="svg_openForAdsMask">
                    <use 
                    href="{% static "icons/mask.svg" %}#idsvg_mask"
                    >
                    </use>
                </svg>
                <div class="tooltip_div">

                    <p> Advertise on this website with A-ADS </p>
                    <p class="advertise"> advertise  </p>

                </div>  
            </a>         
        {% endif %}

    </div>

</div>