{% load static wagtailcore_tags base_tags %}

<link rel="stylesheet" type="text/css" href="{% static 'css/TagsList.css' %}">


<section class="tag_selection_section">

                 
        {% for tag in tagsList  %}
            
                
                <div class = "
                
                {% if tag in Tags_Selected  %}
                
                        highlited

                {% endif %}
                
                tag" onclick="postAddTag( '{{tag}}' );" > {{ tag }}  </div>
                
                
            
        {% endfor %}
    

</section>