{% load static wagtailcore_tags base_tags %}

<link rel="stylesheet" type="text/css" href="{% static 'css/crypto.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/card.css' %}">
{% comment %} <script defer src="{% static 'js/header_menu.js' %}"></script> {% endcomment %}


<section class="trending_Crypto_section">

    <div class="Crypto_Title">
        {{ Title }}
    </div>

    <div class="Crypto_Cards_Div">
                
        {% comment %} {% for post in blogpages|slice:"6" %} {% endcomment %}

        {% for post in itemslist|slice:"6" %}
            {% with post=post.specific %}
            
                {% include "./Card.html" with cardName=post.title cardImage=post.preview_image.url cardInfo=post.intro cardTags=post.tags.all openForAds=post.open_for_ads %}
            
            {% endwith %}
        {% endfor %}
    </div>

    <button class="standard_button" onclick="this.blur(); ">
        View All
    </button>

</section>