{% extends "base.html" %}

{% load static wagtailcore_tags wagtailroutablepage_tags base_tags%}

{% block body_class %}template-homepage{% endblock %} 

{% block content %}

    <script defer src="{% static 'js/ajax.js' %}"></script>

    {% comment %} {{ page.body|richtext }} {% endcomment %}

    {% csrf_token %} 

    {% Hero_tag %}

    {% comment %} {% if page.posts %}
    
        there are some results in posts

        {{ page.posts }}

        {% for post in page.posts %} {% endcomment %}

        {% comment %} {% with post=post.specific %} {% endcomment %}

            {% comment %} <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
            <p> {{ post.intro }}</p>
            {{ post.body|richtext }}

            {% for tag in post.tags.all %}
            
                <a href='{% pageurl page %}?tag={{tag.slug}}'> <span> <b>{{ tag }}</b> </span> </a>
            
            {% endfor %} {% endcomment %}
        {% comment %} 
        {% endwith %} {% endcomment %}
        {% comment %} {% endfor %} 

    {% endif %} {% endcomment %}

    {% CryptoCardsSection_tag maxCards="6" showTitle=True showViewAll=True %}

    {% AIToolsCardsSection_tag maxCards="6" showTitle=True showViewAll=True %}

    {% about_us_tag %}

    {% your_add_here_tag %}

    {% open_for_ad_work_tag %}

    {% comment %} Site settings:

    {% if settings.site_settings.SocialMediaSettings.facebook %}
        <a href='{{ settings.site_settings.SocialMediaSettings.facebook }}'>
            facebook
            <i class="fa-brands fa-facebook"></i>
        </a>
    {% endif %}

    {% if settings.site_settings.SocialMediaSettings.twitter %}
        <a href='{{ settings.site_settings.SocialMediaSettings.twitter }}'>
            twitter
            <i class="fa-brands fa-twitter"></i>
        </a>
    {% endif %}

    {% if settings.site_settings.SocialMediaSettings.youtube %}
        <a href='{{ settings.site_settings.SocialMediaSettings.youtube }}'>
            youtube
            <i class="fa-brands fa-youtube"></i>
        </a>
    {% endif %} {% endcomment %}


{% endblock %}


