{% load static wagtailcore_tags base_tags %}

{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/card.css' %}"> {% endcomment %}
{% comment %} <script defer src="{% static 'js/header_menu.js' %}"></script> {% endcomment %}

{% comment %} onclick="window.location='{{ request.site.root_url }} {{ link.link_text}}';" {% endcomment %}

<div class="card_div" style="cursor: pointer;">

    <img class="card_image" src="{{cardImage}}" /> 
    
    <p class="card_name"> {{ cardName}} </p>
    
    <p class="card_info"> {{cardInfo}} </p>

    <div class="card_tag_div"> 
        
        {% for tag in cardTags|slice:"4" %}
            
            <a class="tag" href='{% pageurl page %}?tag={{tag.slug}}'> {{ tag }} </a>
    
        {% endfor %}

        {% if cardTags.count > 4 %}
            <a class="tag" href='#'> + {{ cardTags.count|add:"-4" }} more </a>         
        {% endif %}
    
    </div>

</div>