{% load static wagtailcore_tags base_tags %}

{% comment %} <div class="card_div" style="cursor: pointer;" onclick="window.location='{% pageurl post %}';"></div> {% endcomment %}
<div class="card_div">

    <img class="card_image" src="{{cardImage}}" /> 
    
    <p class="card_name"> {{ cardName}} </p>
    
    <p class="card_info"> {{cardInfo}} </p>

    <div class="card_tags_and_mask_div"> 

        <div class="card_tag_div"> 
            
            {% for tag in cardTags %}

            
                
            
                {% comment %} <a class="tag" href='{{ self.get_full_url }}?tag={{tag.slug}}'> {{ tag }} </a> {% endcomment %}
                {% comment %} <a class="tag" href='{% pageurl page %}?tag={{tag.slug}}'> {{ tag }} </a> {% endcomment %}
               
                {% comment %} <button class="tag" onclick="postAddTag( '{{tag}}' ); moveToPage('/crypto/');" > {{ tag }} </button> {% endcomment %}
                {% comment %} <button class="tag" onclick="postAddTag( '{{tag}}' ); " > {{ tag }} </button> {% endcomment %}
                {% comment %} <a class="tag" href='{% pageurl page %}{{ thispagesuffix }}' onclick="postAddTag('{{tag}}')"> {{ tag }} </a> {% endcomment %}
                {% comment %} <a class="tag" onclick="postAddTag('{{tag}}');" href="#"> {{ tag }} </a> {% endcomment %}
                <div class="tag" onclick="postAddTag('{{tag}}' );"> {{ tag }} </div>
                 
        
            {% endfor %}

            
            {% comment %}     
                <div class="tag_with_tooltip_div">
                    <a class="tag" href='#'> + {{ cardTags.count }}</a>
                    <div class="tooltip_div">
                    </div>         
                </div>
            {% endcomment %}
            

        </div>

        {% if openForAds %}
            <a class="openForAdsNewLink" href='https://a-ads.com'>
                <svg class="svg_openForAdsMask">
                    <use 
                    href="{% static "icons/mask.svg" %}#idsvg_mask"
                    >
                    </use>
                </svg>
                <div class="tooltip_div">

                    <p> Advertise on this website with A-ADS </p>
                    <p class="advertise"> advertise  </p>

                </div>  
            </a>         
        {% endif %}

    </div>

</div>