{% load static wagtailcore_tags base_tags %}

<link rel="stylesheet" type="text/css" href="{% static 'css/CardsList.css' %}">
{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/card.css' %}"> {% endcomment %}
{% comment %} <script defer src="{% static 'js/header_menu.js' %}"></script> {% endcomment %}

    <div class="Cards_List_Div">
                
        {% for card in cardsList|slice:maxCards  %}
            {% with card=card.specific %}

                {% include "./Card.html" with cardName=card.title cardImage=card.preview_image.url cardInfo=card.intro cardTags=card.tags.all openForAds=card.open_for_ads %}
            
            {% endwith %}
        {% endfor %}

    </div>


