{% load static wagtailcore_tags %}


<footer class = 'footer'>
    <div class = 'upper_footer'>
        <img src="{% static 'images/LogoCatalog.png' alt="A-ADS Logo" %}">
        <div class="sections_container">


            {% for link in footer.footer_links.all %}
                <a href="{{ request.site.root_url }} {{ link.link_text}}" target="_blank">
                    {{link.link_name}}
                </a>
            {% endfor %}


        </div>
        <a href="https://a-ads.com" target="_blank">
            A-ADS.COM
        </a>
    </div>
    <hr />
    <div class = 'lower_footer'>
        {{ footer.text }}
    </div>
</footer>